<h1>Next</h1>


<!-- 
<button (click)="rxjsFuncion()">
Next
</button>



<app-interval>
</app-interval>

<app-from-event>
</app-from-event> -->

<!-- <app-map-filter>
</app-map-filter>

<app-tap></app-tap> -->

<!-- <app-share></app-share> -->

<!-- <app-concat></app-concat>

<app-ciclos-observable></app-ciclos-observable> -->

<!-- <app-buffer-time></app-buffer-time> -->

<!-- <app-switch-map></app-switch-map> -->

<!-- <app-fork-join></app-fork-join> -->
<!-- <app-concat-map>

</app-concat-map> -->

<app-multiples-obs>

</app-multiples-obs>

<app-scan></app-scan>